:root {
  /* Colors */
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);

  /* Font */
  --ff-body: "Epilogue", sans-serif;
  --fw-500: 500;
  --fw-700: 700;
  --fs-body: 1rem;
  /* Transition */
  --transition: all 300ms ease-in-out;
}

body {
  font-family: var(--ff-body);
  color: var(--Medium-Gray);
  font-size: var(--fs-body);
  line-height: 1.6;
  position: relative;
}
/* General style/classes */
.flex {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 2.2rem;
  font-weight: var(--fw-700);
  color: var(--Almost-Black);
  line-height: 1.1;
}

/* Buttons */
.btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: var(--transition);
}
.no-border-btn {
  border: none;
  background: transparent;
  color: inherit;
}
.no-border-btn:hover {
  color: var(--Almost-Black);
}
.border-btn {
  background: transparent;
  border: 1px solid var(--Medium-Gray);
  color: inherit;
}
.border-btn:hover {
  border-color: var(--Almost-Black);
  color: var(--Almost-Black);
}
.plain-btn {
  background: var(--Almost-Black);
  border: 1px solid var(--Almost-Black);
  color: var(--Almost-White);
  font-weight: var(--fw-700);
}
.plain-btn:hover {
  background: transparent;
  color: var(--Almost-Black);
}

/* Header */

.header-wrapper {
  justify-content: space-between;
  padding: 1.5rem;
}
.desktop-nav {
  display: none;
}

/* Mobile nav */
.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.mobile-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 65%;
  background-color: var(--Almost-White);
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  gap: 2rem;
}
.close-mobile-nav {
  align-self: end;
}
.mobile-menu-item:not(:last-child) {
  padding-bottom: 1rem;
}
.mobile-menu-item {
  position: relative;
}
.mobile-menu-item a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.account-btns {
  display: none;
}
.account-btns-mobile {
  width: 100%;
  display: grid;
}
.dropdown-menu {
  padding: 1rem;
  display: none;
}
.dropdown-menu > * + * {
  margin-top: 1rem;
}
.dropdown-item {
  display: flex;
  gap: 0.5rem;
}
.dropdown-item img {
  height: 20px;
}

/* Main content */
.main-content {
  display: grid;
}
.hero-img {
  margin-inline: auto;
}
.text-content {
  padding-block: 2.5rem;
  padding-inline: 1rem;
  text-align: center;
  max-width: 600px;
  margin-inline: auto;
}
.text-content > * + * {
  margin-top: 2rem;
}
.clients {
  justify-content: space-between;
  gap: 2rem;
  padding-top: 2rem;
}

@media (min-width: 900px) {
  :root {
    --fs-body: 1.125rem;
  }
  .header {
    max-width: 90%;
    margin-inline: auto;
  }
  .open-mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;
    margin-left: 2rem;
  }
  .nav-items {
    gap: 1.5rem;
  }
  .nav-item {
    position: relative;
  }
  .nav-item a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .nav-item:hover a {
    color: var(--Almost-Black);
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--Almost-White);
    padding: 1.5rem;
    width: max-content;
    top: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
    border-radius: 10px;
  }
  .first {
    right: 0;
  }
  .second {
    left: 0;
  }
  .dropdown-menu > * + * {
    margin-top: 1rem;
  }
  .account-btns {
    display: block;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 4rem;
  }
  .wrap-text {
    display: block;
  }

  .main-content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    margin-inline: auto;
  }
  .hero-img {
    margin-inline: auto;
    order: 2;
  }
  .hero-img picture {
    height: 100%;
    width: 100%;
  }
  .text-content {
    text-align: left;

    align-self: end;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
  }
  .clients {
    margin-top: 4rem;
  }
}

/* Js classes */
.rotate {
  transform: rotate(180deg);
  transition: var(--transition);
}
.hidden {
  display: none;
}
.show-dropdown {
  display: block;
}
.overflow {
  overflow: hidden;
}
